.nav-bg {
    background-color: #51425f;
}
.second-bg{
    background-color: #2e1437;
}
.titles-bg{
    background-color: #948e99;
}
.third-bg{
    background-color: #b0d78688;
}
.btn-bg{
    background-color: #c8dc8daf;
}